.SeekBar {
  position: relative;
  width: 100%;
  min-height: 6px;
}

.duration {
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  border-radius: 0;
  background-color: var(--c-spotify-white);
}

.progress {
  position: absolute;
  top: 0;
  min-width: 2px;
  height: 6px;
  border-radius: 0;
  background-color: var(--c-spotify-white);
  transition: linear width 0.1s;
}
