.LoadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
}
