.Canvas {
  width: 100%;
  min-width: inherit;
  height: 56.25vw;
  overflow: hidden;
  background-color: black;
}

.scenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: inherit;
  min-width: inherit;
  height: 56.25vw;
  overflow: hidden;
  color: white;
  font-weight: 800;
  font-size: 2.4vw;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝",
    "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Noto Serif JP", "Noto Serif CJK JP",
    serif;
  letter-spacing: 0.04em;
  white-space: nowrap;
}

.scene {
  display: block;
  opacity: 0;
  position: absolute;
  background-color: transparent;
  text-align: center;
}

/* 
.line span {
  opacity: 0;
  position: relative;
  top: 50%;
          transform: translateY(-50%);
  width: 20.18em;
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;

  -webkit-transform: translateY(-50%);
} */
