.LyricsVisualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.connectingToSpotify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  background-color: inherit;
  font-size: 1rem;
}

.spotifyisStandby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  background-color: inherit;
  font-size: 1rem;
}

.lyricsIsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  max-height: inherit;
  background-color: inherit;
  font-size: 1rem;
}

.lyricsDataNotExists {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  background-color: inherit;
  font-size: 1rem;
}

.lyricsLineNotSynced {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  background-color: inherit;
  font-size: 1rem;
}
