.LyricsVisualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 56.25vw;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 56.25vw;
  background-color: var(--c-spotify-black);
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.connectingToSpotify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 56.25vw;
  background-color: black;
  font-size: 3.8vw;
}

.spotifyisStandby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 56.25vw;
  background-color: black;
  font-size: 3.8vw;
}

.lyricsIsLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 56.25vw;
  background-color: black;
  font-size: 3.8vw;
}

.lyricsDataNotExists {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 56.25vw;
  background-color: black;
  font-size: 3.8vw;
}

.lyricsLineNotSynced {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56.25vw;
  background-color: black;
  font-size: 3.8vw;
}
